<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${self.title()}</title>
    <link type="text/css" href="/static/dashboard/css/dashboard.css" rel="stylesheet">
    <!--    <link type="text/css" href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <script type="text/javascript" src="/static/dashboard/js/jquery-1.8.43.min.js"></script>-->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    ${self.css()}
</head>
<body>
<%
from django.shortcuts import reverse
%>
<%include file="nav.html" />
<div id="base-area">
    <ul class="side-menu">
        <li><a href="${reverse('admin_manger')}">管理员</a></li>
        <li>用户</li>
        <li><a href="${reverse('video_externa')}">外链视频</a></li>
        <li><a href="">自制视频</a></li>
    </ul>
    <div class="base-content">
        ${self.content()}
    </div>
</div>
</body>

${self.js()}
</html>

<%def name="title()"></%def>
<%def name="css()"></%def>
<%def name="js()"></%def>
<%def name="content()"></%def>